.about-section {
    padding: 64px 32px;
    background-color: #f9f9f9;
    text-align: center;
}

.about-details {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center content */
    margin-top: 32px;
}

.about-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 32px;
    width: 80%;
    max-width: 400px; /* Maximum width for cards */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    margin: 16px 0; /* Added margin for spacing between cards */
}

.about-icon {
    font-size: 48px;
    color: #4A90E2;
    margin-bottom: 16px;
}

.about-card h3 {
    margin: 16px 0 8px;
    font-size: 24px;
    color: #333;
}

.about-card p {
    font-size: 16px;
    color: #555;
}

.about-card.left {
    align-self: flex-start; /* Align left */
    margin-left: 0;
    margin-right: auto;
}

.about-card.right {
    align-self: flex-end;
    margin-left: auto;
    margin-right: 0;
}