form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 25px auto;
}

input,
textarea {
    margin-bottom: 24px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #FF6F61;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

button:hover {
    background-color: #e65c50;
}

form.form-submitted {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}